# eas3y
[![Build Status](https://travis-ci.org/beeceej/eas3y.svg?branch=master)](https://travis-ci.org/beeceej/eas3y)
[![Go Report Card](https://goreportcard.com/badge/github.com/beeceej/eas3y)](https://goreportcard.com/report/github.com/beeceej/eas3y)

Example usage:

```go
{{.}}
```

Will result in the following files in S3

-> `[bucket=eas3y]/Custom.xml`

-> `[bucket=eas3y]/Default.json`
